<div class="categories-wrapper" ng-controller="CategoriesController">
    <div class="row" id="filter-title">
        <div class="col-xs-12 col-sm-6 col-md-1" id="filter-row">
            <p>фильтры
            <hr>
            </p>
        </div>
        <div class="btn-group" ng-repeat="filter in categoriesPage.filters">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{filter.filter_name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <div ng-repeat="filterValue in filter.filter_value">
                    <input
                            id="{{filterValue.id}}"
                            class="filter-checkbox"
                            type="checkbox"
                            ng-model="categoriesFilterModel.checkbox[filterValue.id]"
                            ng-checked="isFilterChecked(filterValue.id)"
                            ng-change="filterCheck()"
                    />
                    <label>{{filterValue.value}}</label>
                </div>
            </ul>
        </div>
    </div>

    <div class="all-products">
        <div class="row" id="all-products-title">
            <div class="col-xs-12 col-sm-6 col-md-1" id="main-title-row">
                <p>Товары по категориям
                <hr>
                </p>
            </div>
        </div>

        <ul class="flex-container">
            <div class="prod-item" ng-repeat="product in categoriesPage.products | start: (currentPage - 1) * pageSize | limitTo: pageSize">
                <a href="/product/{{product.slug_name}}">
                    <li class="flex-item-photo">
                        <img ng-src="http://parashoes:8080/{{product.images[0].small_path}}">
                    </li>
                    <div class="item-name-price">
                        <div class="name">
                            {{product.name}}
                        </div>
                        <div class="price">
                            {{product.attributes.price}}
                        </div>
                    </div>
                </a>
            </div>
            <div class="pagination-block">
                <pagination
                        uib-pagination
                        total-items="items.length"
                        ng-model="currentPage"
                        max-size="5"
                        class="pagination-sm"
                        boundary-links="true"
                        rotate="false"
                        first-text="Начало"
                        previous-text="Предыдущая"
                        next-text="Следующая"
                        last-text="Конец"
                ></pagination>
            </div>
        </ul>

        <div class="row" id="latest-products-title">
            <div class="col-xs-12 col-sm-6 col-md-1" id="latest-row">
                <p>Недавно вы просматривали
                <hr>
                </p>
            </div>
        </div>

        <ul class="flex-container">
            <div class="prod-item" ng-repeat="product in Products | limitTo: 4">
                <a href="/product/{{product.slug_name}}">
                    <li class="flex-item-photo">
                        <img ng-src="http://parashoes:8080/{{product.images[0].small_path}}">
                    </li>
                    <div class="item-name-price">
                        <div class="name">
                            {{product.name}}
                        </div>
                        <div class="price">
                            {{product.attributes.price}}
                        </div>
                    </div>
                </a>
            </div>
        </ul>
    </div>

    <!--<aside id="column-left">-->
        <!--<div ng-repeat="filter in categoriesPage.filters">-->
            <!--<div id="age" class="to-wrap">-->
                <!--<h2>{{filter.filter_name}}:</h2>-->
                <!--<div ng-repeat="filterValue in filter.filter_value">-->
                    <!--<label>-->
                        <!--<input>-->
                                <!--&lt;!&ndash;id="{{filterValue.id}}"&ndash;&gt;-->
                                <!--class="filter-checkbox"-->
                                <!--type="checkbox"-->
                                <!--ng-model="categoriesFilterModel.checkbox[filterValue.id]"-->
                                <!--ng-checked="isFilterChecked(filterValue.id)"-->
                                <!--ng-change="filterCheck()"-->
                        <!--/>-->
                        <!--{{filterValue.value}}-->
                    <!--</label>-->
                <!--</div>-->
                <!--<hr />-->
            <!--</div>-->
        <!--</div>-->
    <!--</aside>-->
</div>
