<aside id="column-left">
    <div class="category-box">
        <div class="box-heading">КАТЕГОРИИ</div>
        <div class="category-box-content">
            <ul>
                <li>
                    <a href="#">МУЖЧИНАМ</a>
                </li>
                <li>
                    <a href="#">ЖЕНЩИНАМ</a>
                </li>
                <li>
                    <a href="#">ДЕТЯМ</a>
                </li>
                <li>
                    <a href="#">ДЛЯ ДОМА</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="products-box">
        <div class="box-heading">ВАС МОГУТ ЗАИНТЕРЕСОВАТЬ:</div>
        <div class="products-box-content">
            <div class="products-container">
                <div class="three mobile-two columns" ng-repeat="item in items | limitTo: 4">
                    <a href="/product/{{item.id}}">
                        <div class="image">
                            <img src="{{item.photo}}" class="cover">
                        </div>
                        <div class="name">
                            <span>{{item.name}}</span>
                        </div>
                        <div class="price">
                            <span>{{item.price}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="information-box">
        <div class="box-heading">ИНФОРМАЦИЯ</div>
        <div class="information-box-content">
            <ul>
                <li>
                    <a href="/about_us/">О НАС</a>
                </li>
                <li>
                    <a href="/articles/">НОВОСТИ</a>
                </li>
                <li>
                    <a href="#">ОБРАТНАЯ СВЯЗЬ</a>
                </li>
                <li>
                    <a href="/contacts/">КОНТАКТЫ</a>
                </li>
            </ul>
        </div>
    </div>
</aside>