<div class="info-wrapper" ng-controller="ContactsController">
    <div class="col-md-3 info-block">
        <span>позвоните нам по телефонам</span>
        <div class="glyphicon glyphicon-phone"></div>
        <span class="info-span">
            +380 (95) 889-36-36<br>+380 (96) 889-03-64
        </span>
    </div>
    <div class="col-md-3 info-block">
        <span>напишите нам на e-mail</span>
        <div class="glyphicon glyphicon-envelope"></div>
        <span class="info-span">
            <a href="/feedback/">werjiniya@mail.ru</a>
        </span>
    </div>
    <div class="col-md-3 info-block">
        <span>мы находимся по адресу</span>
        <div class="glyphicon glyphicon-map-marker"></div>
        <span class="info-span">
            г. Мариуполь, ул. Артема, 59<br>(пересечение с ул. Фонтанной, 5 мин. пешком от Драмтеатра к пл. Кирова)
        </span>
    </div>
    <div class="col-md-3 info-block">
        <span>мы работаем</span>
        <div class="glyphicon glyphicon-time"></div>
        <span class="info-span">
            ПН-ПТ 9:00-17:00, СБ-ВС 10:00-16:00.<br>Без перевывов и выходных. Дни приёма на комиссию: ВТ и ПТ.
        </span>
    </div>
    <div class="col-md-3 info-block">
        <span>мы в социальных сетях</span>
        <div class="vk-image">
            <a href="#">
                <img src="../images/icons_contact/vkontakte.png">
            </a>
        </div>
    </div>
    <div id="map_canvas"></div>
</div>