<div class="info-wrapper" ng-controller="ContactsController">
    <div class="col-md-3 info-block">
        <span>позвоните нам</span>
        <div class="glyphicon glyphicon-phone"></div>
        <span class="info-span">
            +380 (95) 889-36-36<br>+380 (96) 889-03-64
        </span>
    </div>
    <div class="col-md-3 info-block">
        <a href="/feedback/">
            <span>напишите нам</span>
            <div class="glyphicon glyphicon-envelope"></div>
            <span class="info-span">
                <p>обратная связь</p>
            </span>
        </a>
    </div>
    <div class="col-md-3 info-block">
        <span>ParaShoes</span>
        <div class="glyphicon glyphicon-map-marker"></div>
        <span class="info-span">
            пр. Мира, 62/37
            <br>
            ориентир: площадь Драмтеатра, в магазине "Фантазия - ткани"
        </span>
        <span class="info-span">
            ПН-ПТ 9:00-17:00, СБ-ВС 10:00-16:00.<br>Без перевывов и выходных.
        </span>
    </div>
    <div class="col-md-3 info-block">
        <div id="map_canvas"></div>
    </div>
    <div class="col-md-3 info-block">
        <span>ParaShoes</span>
        <div class="glyphicon glyphicon-map-marker"></div>
        <span class="info-span">
            пр. Металлургов, 164
            <br>
            ориентир: напротив Кальмиусской райадминистрации
        </span>
        <span class="info-span">
            ПН-ПТ 9:00-17:00, СБ-ВС 10:00-16:00.<br>Без перевывов и выходных.
        </span>
    </div>
    <div class="col-md-3 info-block">
        <div id="map_canvas-2"></div>
    </div>
    <div class="col-md-3 info-block">
        <span>мы в социальных сетях</span>
        <div class="vk-image">
            <a href="#">
                <img src="../images/icons_contact/vkontakte.png">
            </a>
        </div>
        <div class="vk-image">
            <a href="#">
                <img src="../images/icons_contact/facebook.png">
            </a>
        </div>
    </div>
</div>