<div class="row" id="feedback-title">
    <div class="col-xs-12 col-sm-6 col-md-1" id="feedback-title-row">
        <p>обратная связь
        <hr>
        </p>
    </div>
</div>
<div ng-controller="FeedbackController" class="form-container">
    <form name="myForm"
          novalidate>
        <div class="form-group">
            <p>
                <label for="exampleInputName">
                    Ваше имя
                </label>
            </p>
            <input type="text"
                   name="username"
                   ng-model="username"
                   class="form-control"
                   id="exampleInputName"
                   required>
            <p>
                <span ng-show="myForm.username.$dirty && myForm.username.$invalid">
                    <span class="error" ng-show="myForm.username.$error.required">
                        Имя обязательно для заполнения.
                    </span>
            </span>
            </p>
        </div>

        <div class="form-group">
            <p>
                <label for="exampleInputEmail1">
                    Ваш email
                </label>
            </p>
            <input type="email"
                   name="email"
                   ng-model="email"
                   class="form-control"
                   id="exampleInputEmail1"
                   placeholder="email@test.com"
                   required>
            <p>
                <span ng-show="myForm.email.$dirty && myForm.email.$invalid">
                <span class="error" ng-show="myForm.email.$error.required">
                    Email обязателен для заполнения.
                </span>
                <span class="error" ng-show="myForm.email.$error.email">
                    Неверно указан email.
                </span>
            </span>
            </p>
        </div>

        <div class="form-group">
            <p>
                <label for="exampleInputTextarea1">
                    Ваше сообщение
                </label>
            </p>
            <textarea name="message"
                      ng-model="message"
                      class="form-control"
                      id="exampleInputTextarea1"
                      required>
            </textarea>
            <p>
                <span class="error" ng-show="myForm.message.$dirty && myForm.message.$error.required">
                    Текст сообщения обязателен.
                </span>
            </p>
        </div>

        <div class="form-group">
            <p id="warning">
                    Ответ поступит на указанный email.
            </p>
        </div>

        <p>
            <button type="submit"
                    class="btn btn-default"
                    ng-click="submit()"
                    ng-disabled="myForm.username.$error.required ||
                   myForm.email.$dirty && myForm.email.$invalid ||
                   myForm.email.$untouched && myForm.email.$error.required ||
                   myForm.message.$error.required">
                отправить
            </button>
        </p>
    </form>
</div>