<!-- Template contains topline, reg/auto forms and container with main structural components of the page: header, main menu, footer
and main content box, where "home.html" template downloads -->
<div ng-controller="MainController">
    <div id="top-line" class="col-md-12">
        <div id="call_us">Позвоните нам: +380 (95) 889-36-36, +380 (96) 889-03-64</div>
        <div><a href="/home/">Главная</a></div>
        <div><a href="/about_us/">О нас</a></div>
        <div><a href="/articles/">Наши новости</a></div>
        <div><a href="/contacts/">Контакты</a></div>
        <div><a href="/feedback/">Обратная связь</a></div>
        <div><a href="/account/">Кабинет</a></div>
    </div>

    <div class="modal-overlay" data-id="overlay-registration-form">
        <div class="registration-form">
            <form>
                <div class="form-group">
                    <label for="login">Логин</label>
                    <input id="login" class="form-control input-group-lg reg_name" type="text" name="login"
                           data-toggle="tooltip" data-placement="right"
                           title="Логин может состоять из латинских букв, цифр и знака подчеркивания, должен начинаться с буквы и содержать от 3 до 15 символов"
                           data-trigger="focus"/>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Check me out
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Готово!</button>
            </form>
        </div>
    </div>

    <div class="container">
        <header class="row">
            <div id="address" class="aside">
                <p>г. Мариуполь, ул. Артема, 59 (пересечение с ул. Фонтанной, 5 мин. пешком от Драмтеатра к пл.
                    Кирова)</p>
                <p id="working-hours">ПН-ПТ 9:00-17:00<br>СБ-ВС 10:00-16:00<br>Без перевывов и выходных</p>
            </div>
            <div id="logo"><a href="/home/"><img src="../images/header/logo.png"></a></div>
            <div id="cart-and-search" class="aside">
                <div id="cart">
                    <div ng-include="'/template/summary.html'">
                        <!--<ngcart-summary></ngcart-summary>-->
                    </div>
                </div>
                <div id="search">
                    <input class="form-control" ng-model="$scope.mainPageProducts" type="text" placeholder="поиск">
                    <button class="btn btn-default">
                        <div class="glyphicon glyphicon-search"></div>
                    </button>
                </div>
            </div>
        </header>
        <!-- Navbar start -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">БРЕНДЫ <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/">все бренды</a>
                                </li>
                                <li ng-repeat="brand in initialData.brand">
                                    <a href="/categories/{{brand.slug_name}}">{{brand.name}}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/categories/new/">НОВИНКИ</a>
                        </li>
                        <li>
                            <a href="/categories/woman/">ЖЕНЩИНАМ</a>
                        </li>
                        <li>
                            <a href="/categories/man/">МУЖЧИНАМ</a>
                        </li>
                        <li>
                            <a href="/categories/children/">ДЕТЯМ</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="twelve-columns" id="main-content-box">
            <div ng-view id="view-box"></div>
        </div>
    </div>

    <div id="goTop">
        ВВЕРХ
    </div>

    <footer class="row">
        <div class="col-md-3">
            <ul class="footer-menu">
                <li><a href="/">на главную</a></li>
                <li><a href="/about_us/">о нас</a></li>
                <li><a href="/articles/">наши новости</a></li>
                <li><a href="/contacts/">контакты</a></li>
                <li><a href="/feedback/">обратная связь</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="footer-categories">
                <li><a href="/categories/woman/">женщинам</a></li>
                <li><a href="/categories/man/">мужчинам</a></li>
                <li><a href="/categories/children/">детям</a></li>
                <li><a href="/categories/new/">новинки</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="col-md-6" id="footer-phone-mail">
                <ul class="s6 columns">
                    <li>
                        <span class="ngw">КОНТАКТЫ</span>

                        <div class="mc">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                            <span class="mm">+380 (95) 889-36-36</span>
                            <span class="mm">+380 (96) 889-03-64</span>
                            <br>
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            <span class="mm" id="footer-mm-email">werjiniya@mail.ru</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3" id="footer-adress-div">
            <div class="col-md-6" id="footer-adress">
                <ul class="s6 columns">
                    <li>
                        <span class="ngw">АДРЕСС</span>

                        <div class="mc">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            <span class="mm">Украина, Мариуполь</span>
                            <span class="mm">улица Артема, 59</span>
                        </div>
                        <span class="ngw">МЫ РАБОТАЕМ</span>

                        <div class="mc">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            <span class="mm">ПН-ПТ 9:00-17:00</span>
                            <span class="mm">СБ-ВС 10:00-16:00</span>
                            <span class="mm">Без перевывов и выходных</span>
                            <span class="mm">Дни приёма на комиссию: ВТ и ПТ</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-6" id="subscribe">
            <p>узнавайте первыми об акциях и новинках:</p>
            <div>
                <input class="form-control" type="email" placeholder="your-email@example.com">
                <button class="btn btn-default" value="send">Подписаться</button>
            </div>
        </div>
        <div class="col-md-6" id="socials">
            <p>мы в социальных сетях:</p>
            <a href="#">
                <div id="facebook">
                    <img src="../images/icons_contact/facebook.png">
                </div>
            </a>
            <a href="#">
                <div id="vkontakte">
                    <img src="../images/icons_contact/vkontakte.png">
                </div>
            </a>
        </div>
        <p>
        <hr>
        </p>
        <p id="copyright">
            Copyright 2016 @ BUlavka
        </p>
    </footer>
</div>
