<div ng-controller="ProductPageController">
    <div class="item">
        <div>
            <img src="{{product.photo}}" onmouseout="console.log(1)" onmouseover="zoomIn()">
        </div>
        <div>
            <div>
                {{product.name}}
            </div>
            <div>
                {{product.price}}
            </div>
            <div>
                {{product.description}}
            </div>
            <div>
                {{product.material}}
            </div>
            <div>
                {{product.oem}}
            </div>
        </div>
    </div>
</div>