<div ng-controller="ProductPageController">
    <div class="product-page-item-box">
        <div class="product-thumbs-block">
            <div class="product-thumb" ng-repeat="thumb in product | limitTo: 5">
                <div class="thumb-image">
                    <img class="thumbPhoto" src="../images/for_example/aurora_plush_mimi_2-300x400.jpg" ng-click="changePhoto()">
                </div>
            </div>
        </div>

        <div class="product-image">
            <img id="mainPhoto" src="{{product.photo}}" ng-class="class" ng-click="changeClass()">
        </div>

        <div ng-class="info" ng-click="changeClass()">
            <div>
                {{product.name}}
            </div>
            <div>
                Артикул: {{product.oem}}
            </div>
            <div>
                {{product.price}} UAH
            </div>
        </div>

        <div class="product-description">
            <h3>Описание:</h3>
            <div>
                {{product.description}}
            </div>
            <div>
                Бренд: {{product.brand}}
            </div>
            <div>
                Размер: {{product.size}}
            </div>
            <div>
                Пол: {{product.gender}}
            </div>
            <div>
                Возраст: {{product.age}}
            </div>
            <div>
                Сезон: {{product.season}}
            </div>
            <div>
                Состояние: {{product.condition}}
            </div>
        </div>
    </div>
</div>