/* Filters styles */
.categories-wrapper, .btn-group-vertical>.btn, .btn-group>.btn,
#filter-title .dropdown-menu {
    width: 100%;
}
.btn-group, .btn-group-vertical {
    width: 20%;
}
.btn-group>.btn, .btn-group-vertical>.btn {
    border-color: #6b3528;
    color: #f7f7f7;
}
.btn-group>.btn:hover {
    color: wheat;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover,
.btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover,
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
    color: #482a23;
    background-color: white;
    border-color: #482a23;
}
.btn-group.open .dropdown-toggle {
    box-shadow: inset 0 2px 5px rgba(72, 42, 35, 0.45);
}

#filter-title .dropdown-menu {
    border-radius: 0;
    border: 1px solid rgb(107, 53, 40);
    box-shadow: 0 6px 12px rgba(72, 42, 35, 0.45);
}
#filter-title .dropdown-menu input {
    margin-left: 5px;
}
#filter-title .dropdown-menu label {
    padding-left: 10px;
    margin-bottom: 10px;
    font-weight: normal;
}


/* Products box styles */
.products-box .image {
    display: block;
    position: relative;
    float: left;
    width: 80px;
    height: 108px;
}

.products-box .products-container > div {
    position: relative;
    background-color: #f7f7f7;
    border-top: 1px solid #e7e5de;
    padding: 1px;
    min-height: 110px;
}

.products-box .products-container > div:hover {
    background-color: #f7effd;
    transition: all 0.2s ease-in 0s;
}

.products-box .products-container > div a {
    display: block;
    height: 107px;
}

.cover { /* Good desigion to give tag <img> a class and to use "object-fit" to cover <div> without stretching image */
    object-fit: contain;
    width: inherit;
    height: inherit;
}