.info-wrapper {
    display: flex;
    flex-flow: row wrap;
}
.info-block {
    width:50%;
    height:250px;
    padding: 0 0 0 0;
    margin-top: 50px;
    text-align: center;
    z-index: 1;
}
.info-block:nth-child(4),
.info-block:nth-child(6) {
    height: 305px;
}
.info-block:nth-child(7) {
    width: 100%;
    height: 200px;
}
.info-block span {
    display: block;
    margin: 20px auto;
    font-size: 15px;
    color: #676767;
    text-align: center;
    text-transform: uppercase;
}
.info-block a {
    text-decoration: underline;
    color: #676767;
}
.info-block a:hover {
    text-decoration: none;
}
.info-block .glyphicon {
    width: 80px;
    height: 80px;
    font-size: 60px;
    color: #e3e3e3;
    padding-top: 10px;
    background-color: #676767;
    border-radius: 40px;
}
.info-block .vk-image {
    display: inline-block;
    border-radius: 40px;
    overflow: hidden;
    width: 80px;
    height: 80px;
}
.info-block .vk-image:nth-child(2) {
    margin-right: 50px;
}
.info-block .vk-image a img {
    margin: -20px;
}
.info-block .glyphicon-map-marker {
    padding-right: 5px;
}
.info-block .info-span {
    font-size: 18px;
}
.info-block .info-span a {
    color: #676767;
}
#map_canvas,
#map_canvas-2 {
    width: 100%;
    height: 300px;
    display: flex;
    /*margin-top: -185px*/
}