.form-container {
    width: 70%;
    margin: 0 auto;
    position: relative;
    background-color: #d0d0d0;
}
.form-group:nth-child(1) {
    padding-top: 15px;
}
.form-group textarea {
    min-height: 150px;
}
.form-group input,
.form-group textarea {
    width: 50%;
    margin: 0 auto;
}
.form-group label,
.form-container .btn-default,
#textarea-message {
    margin-left: 335px;
}
.form-control:focus {
    border-color: #f98e00;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(249, 142, 0, .6);
}
form span {
    color: #f92600;
    margin-left: 167px;
}
.form-container .btn-default {
    margin-bottom: 15px;
}

