@media all and (min-width: 1300px) {
    #filter-button {
        display: none;
    }
}
@media all and (max-width: 1300px) {
    #footer-phone-mail ul,
    #footer-adress ul {
        padding-left: 0;
    }
    .categories-wrapper {
        flex-direction: column-reverse;
    }
    #column-left #age,
    #column-left #gender,
    #column-left #condition,
    #column-left #season {
        width: 25%;
    }
    #column-left,
    #column-left #size,
    #column-left #brand {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
    #column-left #size,
    #column-left #brand {
        order: 1;
    }
    #column-left #size h2,
    #column-left #brand h2 {
        width: 100%;
    }
    #filter-title {
        width: 100%;
    }
    #filter-button {
        display: block;
        margin: 10px auto;
    }
    .all-products {
        width: 100%;
    }
}
@media all and (max-width: 1286px) {
    #footer-phone-mail ul {
        padding: 0;
    }
}
@media all and (max-width: 1200px) {
    .container {
        width: 100%;
        position: relative;
    }
    #logo {
        flex: 1 100%;
        text-align: center;
        order: 2;
    }
    .aside{
        width: 45%;
    }
    #main-content-box {
        width: 100%;
    }

    .contacts-window {
        left: -40px;
    }
    .name, .price, .buy-button{
        text-align: center;
    }
    .info-block {
        width: 100%;
    }
}

@media all and (max-width: 990px) {
    .container {
        width: 100%;
    }
    .carousel {
        float: none;
        width: 100%;
    }
    #main-content-box {
        min-width: 545px;
    }
    footer .col-md-3 {
        width: 50%;
    }
    #footer-phone-mail {
        padding-left: 105px;
    }
    #footer-adress ul {
        padding-left: 90px;
    }
    #product-gallery {
        width: 100%;
        flex-direction: column-reverse;
        margin-left: 0;
        position: relative;
    }
    #product-large-image {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }
    .zoomWrapper {        /* не работает!!! */
        display: flex;
        width: 100%;
    }
    #product-thumbs-images {
        margin: 20px 0;
    }
    #gallery_01 {
        flex-direction: row;
    }
    #zoom_03 {            /* не работает!!! */
        position: inherit;
        margin: 0 auto;
    }
    #product-info-block {
        margin-left: 0;
    }
}

@media all and (max-width: 851px) {
    #footer-phone-mail:first-child,
    #footer-phone-mail:last-child {
        padding-left: 105px;
    }
    #footer-phone-mail div {
        float: left;
    }
}

@media all and (max-width: 767px) {
    #top-line {
        flex-direction: column;
        align-items: center;
    }
    .navbar-left li {
        width: 100%;
        text-align: center;
    }
    #main-content-box {
        width: 100%;
        float: none;
    }

    #welcome {
        padding-right: 0;
    }
    .navbar-nav {
        margin: 0 0;
    }
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: -30px;
        margin-left: -30px;
    }
    .reference-text-box {
        float: none;
        width: 100%;
    }
    .footer-categories li {
        padding: 10px 0;
    }
    #subscribe,
    #socials {
        width: 100%;
    }
    #socials {
        padding-left: 120px;
    }
}
@media all and (max-width: 723px) {
    .when-zoom-in {
        width: 100%;
        margin-left: 15px;
        color: #405765;
        font-size: 40px;
        transition: all 0.5s ease-in-out;
    }
}

@media all and (max-width: 695px) {
    #btns-div {
        width: 100%;
    }

    #main-content-box {
        width: 100%;
        float: none;
    }
}
@media all and (max-width: 600px) {
    header {
        flex-direction: column;
    }
    #logo, #address, #cart-and-search {
        width: 100%;
        text-align: center;
    }
    #cart-and-search div {
        text-align: center;
    }
    footer .col-md-3 {
        width: 100%;
    }
}
@media all and (max-width: 550px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
}

@media all and (max-width: 542px) {
    #footer-adress-div {
        width: 100%;
    }
    #footer-adress ul {
        padding-left: 90px;
    }
}
@media all and (max-width: 475px) {
    /*footer .col-md-3 {*/
        /*width: 100%;*/
    /*}*/
    .footer-categories li {
        padding: 10px 65px;
    }
}

