body {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    transition: all 0.2s ease-in 0s;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #676767;
}

a:focus {
    text-decoration: none;
}

.container {
    padding: 0;
    width: 100%;
}

/* Top line */

#top-line, header {
    display: flex;
    flex-flow: row wrap;
    background-color: #f98e00;
    justify-content: space-between;
}

#top-line div {
    display: block;
    float: left;
    margin: 5px 0 5px;
    font-size: 15px;
    color: #676767;
}

#top-line a {
    color: #f7f7f7;
}

#top-line a:hover {
    color: #676767;
}

/* Registration form pop-up */

.registration-form {
    height: 400px;
    min-height: 230px;
    width: 450px;
    position: absolute;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 3px;
    background-color: whitesmoke;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* резиновость блока */
    z-index: 1000;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* block when active */
}

.modal-overlay-active {
    display: block;    /* none when not active */
}

/* Header */

header {
    width: 100%;
    min-height: 215px;
    background-color: inherit;
}
header > div {
    width: 30%;
    margin-top: 40px;
    /*flex: 1 100%;*/
}
#cart, #search {
    text-align: end;
}
#search input {
    width: 35%;
    display: initial;
    background-color: #e3e3e3;
    border-color: #4e4e4e;
}
#address #working-hours,
#search {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
#address p,
#working-hours,
#cart span {
    color: #676767;
}

/* Main menu (navbar) */

.navbar-default {
    background-color: #f98e00;
    border-radius: 0;
    border-color: #676767;
    border-left: none;
    border-right: none;
}
.navbar-left {
    width: 100%;
}
.navbar-left li {
    width: 20%;
    text-align: center;
}
.navbar-left li:hover {
    background-color: #676767;
    transition: all 0.2s ease-in 0s;
}
.navbar-default .navbar-brand {
    color: #557c93;
}

.navbar-default .navbar-nav > li > a {
    font-size: 15px;
    color: #676767;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #f98e00;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #676767;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #676767;
    color: #f98e00;
}
.btn-default,
.btn-default:focus {
    color: #676767;
    background-color: transparent;
    border-radius: 0;
    text-transform: uppercase;
    border-color: #676767;
}
.btn-default:hover,
.btn-default:active {
    color: #f98e00;
    background-color: #676767;
    border-color: #676767;
    transition: all 0.2s ease-in 0s;
}

.dropdown-menu {
    width: 375px;
    padding: 0;
}
.dropdown-menu > li {
    width: 100%;
    text-transform: uppercase;
    font-size: 13px;
    background-color: #f7f7f7;
    border-top: 1px solid #e7e5de;
}
.dropdown-menu > li:hover {
    background-color: #f7effd;
    transition: all 0.2s ease-in 0s;
}
.dropdown-menu > li > a {
    color: #86B9D4;
    line-height: 2.428571;
}
.dropdown-menu > li > a:hover {
    background-color: #f7effd;
    color: #676767;
    transition: all 0.2s ease-in 0s;
}

/* Left column styles */

/* Categories */

/*#column-left {*/
    /*!*width: 25%;*!*/
    /*width: 20%;*/
    /*margin-bottom: 30px;*/
/*}*/

/*#column-left > div {*/
    /*margin-bottom: 20px;*/
/*}*/

/*.box-heading {*/
    /*padding: 12px 15px;*/
    /*background-color: #86B9D4;*/
    /*color: #f7f7f7;*/
/*}*/

/*#column-left ul {*/
    /*padding-left: 0;*/
    /*background-color: #f7f7f7;*/
/*}*/

/*#column-left ul li {*/
    /*border-top: 1px solid #e7e5de;*/
/*}*/

/*#column-left ul li a {*/
    /*padding-left: 15px;*/
    /*line-height: 3.6;*/
    /*text-decoration: none;*/
    /*display: block;*/
    /*color: #86B9D4;*/
/*}*/

/*#column-left ul li:hover {*/
    /*background-color: #f7effd;*/
    /*transition: all 0.2s ease-in 0s;*/
/*}*/

/*#column-left ul li a:hover {*/
    /*color: #676767;*/
/*}*/

/* Products box styles */

/*.products-box .image {*/
    /*display: block;*/
    /*position: relative;*/
    /*float: left;*/
    /*width: 80px;*/
    /*height: 108px;*/
/*}*/

/*.products-box .products-container > div {*/
    /*position: relative;*/
    /*background-color: #f7f7f7;*/
    /*border-top: 1px solid #e7e5de;*/
    /*padding: 1px;*/
    /*min-height: 110px;*/
/*}*/

/*.products-box .products-container > div:hover {*/
    /*background-color: #f7effd;*/
    /*transition: all 0.2s ease-in 0s;*/
/*}*/

/*.products-box .products-container > div a {*/
    /*display: block;*/
    /*height: 107px;*/
/*}*/
/*.cover {             !* Good desigion to give tag <img> a class and to use "object-fit" to cover <div> without stretching image *!*/
    /*object-fit: contain;*/
    /*width: inherit;*/
    /*height: inherit;*/
/*}*/

/*.products-box .products-container .price span {*/
    /*color: #7e5486*/
/*}*/

/* Main content block */

#main-content-box {
    display: flex;
    flex-flow: row wrap;
    float: right;
    width: 100%;
    min-height: 692px;
}

.banner-slider {
    position: relative;
    margin: 0 auto;
    width: 97%;
    height: 310px;
}

.carousel {
    height: inherit;
    width: 100%;
}

.carousel-inner, .item {
    height: inherit;
}
.carousel-inner > .item > img {
    object-fit: contain;
    height: inherit;
    width: 100%;
}
.carousel-caption h3 {
    margin: 0 auto;
}
/* Products on the main */

#all-products-title, #latest-products-title, #brief-reference-title {  /* Main block titles */
    margin: 20px auto;
    text-align: center;
    background-color: #f98e00;
    color: #676767;
}
hr {
    border-top: 1px solid #676767;
}

#brief-reference-title {          /* Reference box styles */
    background-color: transparent;
    color: #676767;
    font-size: 20px;
    font-weight: bold;
}
.reference-text-box,
.product-description {
    margin: 20px 0 20px 0;
    font-size: 18px;
    line-height: 2;
    text-align: justify;
    color: #676767;
}

#all-products-title #main-title-row,
#latest-products-title #latest-row,
#brief-reference-title #reference-title-row {
    width: 100%;
    text-transform: uppercase;
    color: #676767;
}

#all-products-title #main-title-row p,
#latest-products-title #latest-row p,
#brief-reference-title #reference-title-row p {
    margin: 20px 0 10px;
}

.flex-container {         /* Products container */
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.all-products,
.brief-reference-box {
    width: 100%;
}

.prod-item {
    width: 312px;
    padding-bottom: 30px;
}
.prod-item a {
    display: block;
}
.prod-item a:hover {
    box-shadow: 0 0 20px #f98e00;
    transition: all 0.2s ease-in 0s;
}
.prod-item a:hover .item-name-price {
    background-color: #676767;
    color: #f98e00;
    transition: all 0.2s ease-in 0s;
    cursor: pointer;
}

.flex-item-photo {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 150px;
    font-size: 3em;
}
.flex-item-photo img {
    object-fit: contain;
    width: inherit;
    height: inherit;
}

.item-name-price {
    color: #676767;
    padding-bottom: 13px;
    text-align: center;
    text-transform: uppercase;
}

.name, .price {
    padding-top: 13px;
}

/* Pagination styles */
.pagination-block {
    width: 100%;
    text-align: center;
}
.pagination>li>a,
.pagination>li>span,
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover,
.pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
    color: #676767;
    background-color: transparent;
    border: 1px solid #676767;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #f98e00;
    cursor: default;
    background-color: #676767;
    border-color: #676767;
}
.pagination>li>a:focus, .pagination>li>a:hover,
.pagination>li>span:focus, .pagination>li>span:hover {
    color: #4e4e4e;
    background-color: #f98e00;
    border-color: #f98e00;
}

.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span,
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span{
    border-radius: 0;
}

/* Footer */

footer {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background-color: #f98e00;
}
.col-md-3 {
    padding-top: 30px;
}
.col-md-6 {
    padding-top: 45px;
    padding-bottom: 45px;
}
.footer-menu,
.footer-categories,
#subscribe p,
#socials p {
    text-transform: uppercase;
    margin: 0;
}
.footer-menu li,
.footer-categories li {
    display: block;
    color: #676767;
}
.footer-menu li:hover,
.footer-categories li:hover {
    background-color: #676767;
    transition: all 0.2s ease-in 0s;
    cursor: pointer;
}
.footer-menu a,
.footer-categories a {
    display: block;
    color: #676767;
    padding: 10px 65px;
}
.footer-menu a:hover,
.footer-categories a:hover {
    color: #f98e00;
    transition: all 0.2s ease-in 0s;
}

#footer-phone-mail,
#footer-adress {
    width: 100%;
    padding-top: 0;
}

#footer-phone-mail ul,
#footer-adress ul {
    margin: 0;
    padding-left: 90px;
}
#footer-phone-mail .ngw,
#footer-adress .ngw {
    color: #676767;
    display: block;
    padding-top: 10px;
}
#footer-phone-mail span,
#footer-adress span,
#subscribe p,
#socials p,
#copyright{
    color: #676767;
}
#footer-phone-mail .glyphicon,
#footer-adress .glyphicon {
    float: left;
    color: #676767;
    font-size: 25px;
    padding-top: 10px;
}
#footer-phone-mail .mm,
#footer-adress .mm {
    display: block;
    font-size: 15px;
    margin-top: 3px;
    margin-left: 36px;
}

#subscribe {
    padding-left: 120px;
}
#subscribe p,
#socials p {
    padding-bottom: 30px;
}
#subscribe input {
    width: 50%;
    display: initial;
    color: #b9b9b9;
    background-color: #4e4e4e;
    border-color: #4e4e4e;
}
#subscribe button {
    margin-left: 30px;
}
#facebook,
#vkontakte {
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 15px;
    overflow: hidden;
}
#vkontakte {
    margin-left: 30px;
}
#facebook img,
#vkontakte img {
    width: inherit;
}
footer hr {
    margin: 0 40px 0 40px;
    width: 100%;
    border: 1px solid #676767;
}
#copyright {
    margin: 20px 120px;
}
/* Product page styles */

.zoom-in {                                                /* Classes for image to zoom it or zoom out, changes dynamically */
    -webkit-transform: scale(1.5) translate(100px, 0px);
    transition: all 0.5s ease-in-out;
    position: fixed;
    z-index: 6;
}
.zoom-out {
    -webkit-transform: none;
    transition: all 0.5s ease-in-out;
}
.product-page-item-box {
    display: flex;
    flex-flow: row wrap;
}
.product-thumbs-block {
    margin-left: 20px;
}
.product-thumb {
    margin-bottom: 19px;
}
.product-image {
    height: 100%;
    margin-left: 17px;
}

.product-info {
    margin-left: 15px;
    color: #405765;
    font-size: 40px;
}
.when-zoom-in {
    margin-left: 680px;
    color: #405765;
    font-size: 40px;
    transition: all 0.5s ease-in-out;
}

.product-description {
    font-size: 17px;
}
.thumb-image img {
    object-fit: contain;
    width: 80px;
    height: 100px;
}





