body {
    height: 100%;
    background: #c7e0e5;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    transition: all 0.2s ease-in 0s;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

.container {
    padding: 0;
    width: 100%;
}

/* Top line */

#top-line, header {
    display: flex;
    flex-flow: row wrap;
    background-color: #86B9D4;
    justify-content: space-between;
}

#top-line div {
    display: block;
    float: left;
    margin: 5px 0 5px;
    font-size: 15px;
}

#top-line a {
    color: #f7f7f7;
}

#top-line a:hover {
    color: #45545e;
}

/* Registration form pop-up */

.registration-form {
    height: 400px;
    min-height: 230px;
    width: 450px;
    position: absolute;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 3px;
    background-color: whitesmoke;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* резиновость блока */
    z-index: 1000;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* block when active */
}

.modal-overlay-active {
    display: block;    /* none when not active */
}

/* Header */

header {
    width: 100%;
    min-height: 215px;
    background-color: inherit;
}
header > div {
    width: 30%;
    margin-top: 40px;
    /*flex: 1 100%;*/
}
/*#logo {*/
    /*flex: 2 0;*/
/*}*/
/*.aside-1 { order: 1; }*/
/*#logo   { order: 2; }*/
/*.aside-2 { order: 3; }*/

#cart, #search {
    text-align: end;
}
#search input {
    width: 35%;
    display: initial;
}
#address #working-hours,
#search {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* Main menu (navbar) */

.navbar-default {
    background-color: transparent;
    border-radius: 0;
    border-color: #557c93;
    border-left: none;
    border-right: none;
}
.navbar-default .navbar-brand {
    color: #557c93;
}

.navbar-default .navbar-nav > li > a {
    font-size: 15px;
    color: #557c93;
}

.navbar-brand {
    font-size: 15px;
}
.btn-default {
    color: #557c93;
    background-color: transparent;
    border-radius: 0;
    text-transform: uppercase;
    border-color: #557c93;
}
.btn-default:hover {
    color: #f7f7f7;
    background-color: #557c93;
    border-color: #557c93;
    transition: all 0.2s ease-in 0s;
}

.dropdown-menu {
    width: 375px;
    padding: 0;
}
.dropdown-menu > li {
    text-transform: uppercase;
    font-size: 13px;
    background-color: #f7f7f7;
    border-top: 1px solid #e7e5de;
}
.dropdown-menu > li:hover {
    background-color: #f7effd;
    transition: all 0.2s ease-in 0s;
}
.dropdown-menu > li > a {
    color: #86B9D4;
    line-height: 2.428571;
}
.dropdown-menu > li > a:hover {
    background-color: #f7effd;
    color: #557c93;
    transition: all 0.2s ease-in 0s;
}

.form-group {    /* search input block width */
    width: 230px;
}

.navbar-form .form-control { /* makes search input 100% of block length */
    width: 100%;
}

/* Contacts window small */

.contacts-window {
    position: absolute;
    z-index: 6;
    width: 600px;
    left: 37px;
    padding: 10px;
    background-color: #fff;
    visibility: hidden;
}

.contacts-nav-block:hover > .contacts-window {
    visibility: visible;
}

.contacts-window div {
    height: 100%;
    padding: 0;
}

.contacts-window div ul {
    padding: 5px;
}

.contacts-window div ul li > .ngw {
    display: block;
    font-weight: bold;
    letter-spacing: normal;
    padding: 12px 25px 13px 15px;
    margin: 0 0 10px;
    color: rgba(82, 103, 138, 0.74);
    background-color: rgba(185, 185, 185, 0.37);
}

.contacts-window .mc {
    margin-bottom: 10px;
    min-height: 36px;
    clear: left;
}

.contacts-window span.mm_icon {
    background-color: rgba(0, 0, 0, 0.1);
    float: left;
    position: relative;
    border-radius: 38px;
}

.contacts-window span.mm {
    font-size: 14px;
    display: block;
    clear: none;
    padding-left: 50px;
    color: rgba(82, 103, 138, 0.74);
}

/* Left column styles */

/* Categories */

#column-left {
    /*width: 25%;*/
    width: 20%;
    margin-bottom: 30px;
}

#column-left::after {

}

#column-left > div {
    margin-bottom: 20px;
}

#column-left ul {
    background-color: #f7f7f7;
}

.box-heading {
    padding: 12px 15px;
    background-color: #86B9D4;
    color: #f7f7f7;
}

#column-left ul {
    padding-left: 0;
    background-color: #f7f7f7;
}

#column-left ul li {
    border-top: 1px solid #e7e5de;
}

#column-left ul li a {
    padding-left: 15px;
    line-height: 3.6;
    text-decoration: none;
    display: block;
    color: #86B9D4;
}

#column-left ul li:hover {
    background-color: #f7effd;
    transition: all 0.2s ease-in 0s;
}

#column-left ul li a:hover {
    color: #557c93;
}

/* Products box styles */

.products-box .image {
    display: block;
    position: relative;
    float: left;
    width: 80px;
    height: 108px;
}

.products-box .products-container > div {
    position: relative;
    background-color: #f7f7f7;
    border-top: 1px solid #e7e5de;
    padding: 1px;
    min-height: 110px;
}

.name, .price {
    padding-top: 13px;
    text-transform: uppercase;
}

.products-box .products-container > div:hover {
    background-color: #f7effd;
    transition: all 0.2s ease-in 0s;
}

.products-box .products-container > div a {
    display: block;
    height: 107px;
}
.cover {             /* Good desigion to give tag <img> a class and to use "object-fit" to cover <div> without stretching image */
    object-fit: contain;
    width: inherit;
    height: inherit;
}

.products-box .products-container .price span {
    color: #7e5486
}

/* Main content block */

#main-content-box {
    display: flex;
    flex-flow: row wrap;
    float: right;
    width: 100%;
    min-height: 692px;
}

.banner-slider {
    position: relative;
    width: 100%;
    height: 310px;
}

.carousel {
    height: inherit;
}

/* Products on the main */

#prodOnMainTitle, #prodLatest, #brief-reference-title {  /* Main block titles */
    margin: 20px auto;
    background-color: #86B9D4;
    color: #f7f7f7;
}

#brief-reference-title {          /* Reference box styles */
    background-color: transparent;
    color: #557c93;
    font-size: 20px;
    font-weight: bold;
}

#brief-reference-title #reference-title-row hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #557c93;
}

.reference-text-box,
.product-description {
    margin: 20px 0 20px 0;
    font-size: 18px;
    line-height: 2;
    text-align: justify;
    color: #405765;
}

#prodOnMainTitle #main-title-row,
#prodLatest #latest-row,
#brief-reference-title #reference-title-row {
    width: 100%;
    text-transform: uppercase;
}

#prodOnMainTitle #main-title-row p,
#prodLatest #latest-row p,
#brief-reference-title #reference-title-row p {
    margin: 20px 0 10px;
}

.flex-container {         /* Products container */
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.products-on-main-box,
.brief-reference-box {
    width: 100%;
}

.item {
    width: 250px;
}

.flex-item-photo {
    position: relative;
    width: 250px;
    height: 348px;
    margin-top: 10px;

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
.flex-item-photo img {
    object-fit: contain;
    width: inherit;
    height: inherit;
}

.item a {
    display: block;
}

.item-name-price {
    padding-bottom: 13px;
    text-align: center;
    text-transform: uppercase;
}

.item-name-price:hover {
    background-color: #f7f7f7;
    transition: all 0.2s ease-in 0s;
    cursor: pointer;
}

/* Footer */

footer {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    min-height: 200px;
    background-color: #86B9D4;
}

.footer-menu, .footer-categories {
    text-transform: uppercase;
    margin: 0;
}
.footer-menu li,
.footer-categories li {
    padding: 10px 65px;
}
.footer-menu a,
.footer-categories a {
    color: #f7f7f7;
}
.footer-menu a:hover,
.footer-categories a:hover {
    color: #45545e;
}
.footer-categories li {
    color: #45545e;
}

#footer-phone-mail,
#footer-adress {
    width: 100%;
}
#footer-phone-mail:first-child,
#footer-adress:first-child {
    /*padding-left: 0;*/
}
#footer-phone-mail ul,
#footer-adress ul {
    margin: 0;
    padding-left: 90px;
}
#footer-phone-mail .ngw,
#footer-adress .ngw {
    color: #45545e;
    display: block;
    padding-top: 10px;
}
#footer-phone-mail span,
#footer-adress span {
    color: #f7f7f7;
}
#footer-phone-mail .glyphicon,
#footer-adress .glyphicon {
    float: left;
    color: aliceblue;
    font-size: 25px;
    padding-top: 10px;
}
#footer-phone-mail .mm,
#footer-adress .mm {
    display: block;
    font-size: 15px;
    margin-top: 3px;
    margin-left: 36px;
}

/* Product page styles */

.zoom-in {                                                /* Classes for image to zoom it or zoom out, changes dynamically */
    -webkit-transform: scale(1.5) translate(100px, 0px);
    transition: all 0.5s ease-in-out;
    position: fixed;
    z-index: 6;
}
.zoom-out {
    -webkit-transform: none;
    transition: all 0.5s ease-in-out;
}
.product-page-item-box {
    display: flex;
    flex-flow: row wrap;
}
.product-thumbs-block {
    margin-left: 20px;
}
.product-thumb {
    margin-bottom: 19px;
}
.product-image {
    height: 100%;
    margin-left: 17px;
}

.product-info {
    margin-left: 15px;
    color: #405765;
    font-size: 40px;
}
.when-zoom-in {
    margin-left: 680px;
    color: #405765;
    font-size: 40px;
    transition: all 0.5s ease-in-out;
}

.product-description {
    font-size: 17px;
}
.thumb-image img {
    object-fit: contain;
    width: 80px;
    height: 100px;
}



