upstream bulavka {
    server 127.0.0.1:8000;
}

server {
    listen 8080;

    # Allow file uploads
    client_max_body_size 50M;

    location ^~ /media {
        alias   /opt/apps/spa_request_handler/media;
        expires off;

        gzip_comp_level 1;
        gzip_proxied    any;
        gzip_types      text/plain
                        text/css
                        text/xml
                        text/javascript
                        application/x-javascript
                        application/xml
                        application/xml+rss;
    }

    location /static {
        alias   /opt/apps/spa_request_handler/static;
        expires off;

        gzip_comp_level 1;
        gzip_proxied    any;
        gzip_types      text/plain
                        text/css
                        text/xml
                        text/javascript
                        application/x-javascript
                        application/xml
                        application/xml+rss;
    }

    location / {
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_pass http://bulavka/;
    }
}

server {
    listen 80 default_server;
    expires -1;
    add_header Pragma "no-cache";
    add_header Cache-Control "no-store, no-cache, must-revalidate, post-check=0, pre-check=0";
    index app.html;
    root /opt/apps/web_ui;

    location / {
        try_files $uri$args $uri$args/ /app.html =404;
    }

    if ($args ~ "_escaped_fragment_=(.*)") {
        rewrite ^ /snapshot${uri};
    }

    location /snapshot {
        proxy_pass http://bulavka/;
        proxy_connect_timeout  60s;
    }
}